<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/beer.css" />
    <link rel="stylesheet" href="../styles/common.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <div class="header-left">
        <div class="header-logo">
          <div class="header-borderline"></div>
          <a href=""><h2>BELGIAN</h2></a>
          <div class="header-brewery">
            <div class="header-line1"></div>
            <h4>BREWERY</h4>
            <div class="header-line2"></div>
          </div>

          <p>SINCE 1896</p>
        </div>
      </div>
      <div class="header-right">
        <input type="checkbox" name="" id="check" />

        <label for="check">
          <div class="burger-menu">
            <div class="burgerline1"></div>
            <div class="burgerline2"></div>
            <div class="burgerline3"></div>
          </div>
        </label>

        <nav>
          <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="./beer.html"  id="active">BEERS</a></li>
            <li><a href="">MENU</a></li>
            <li><a href="">ORDER ONLINE</a></li>
            <li><a href="">OUR STORY</a></li>
            <li>
              <a href="./brewery.html">THE BREWERY</a>
              <div class="drop-down">
                <a href="">EVENTS</a>
              </div>
            </li>
            <li><a href="">CONTACT</a></li>
          </ul>
        </nav>
        <div class="header-cart">
          <a href=""
            ><i class="fa-solid fa-cart-arrow-down" style="color: #ffd43b"></i>
          </a>
          <a href=""> <button>Log In</button></a>
        </div>
      </div>
    </header>
    <main></main>
    <section>
      <div class="section-header">
        <h4>THE BEERS</h4>
        <p>
          ﻿​I'm a paragraph. Click here to add your own text and edit me. It’s
          easy. Just click “Edit Text” or double click me and you can start
          adding your own content and make changes to the font.
        </p>
      </div>

      <div class="section-borderline1"></div>

      <div class="beers1">
        <div class="beers1-left">
          <img src="../images/BEER-PAGE5.avif" alt="" />
        </div>
        <div class="beers1-right">
          <div class="beer1-borderline1"></div>
          <h4>Belgian Small Beer</h4>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me and you can start
            adding your own content and make changes to the font.
          </p>
          <div class="beer1-borderline2"></div>
          <h5>Details</h5>
          <p>Alc. 5.2% // IBUs 30</p>
          <p>192 Calories, 12 oz serving</p>
          <div class="beer1-borderline3"></div>
        </div>
      </div>
      <div class="section-borderline1"></div>
      <div class="beers2">
        <div class="beers2-left">
          <img src="../images/BEER-PAGE2.avif" alt="" />
        </div>
        <div class="beers2-right">
          <div class="beer1-borderline1"></div>
          <h4>Belgian Steam Beer</h4>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me and you can start
            adding your own content and make changes to the font.
          </p>
          <div class="beer1-borderline2"></div>
          <h5>Details</h5>
          <p>Alc. 5.2% // IBUs 30</p>
          <p>192 Calories, 12 oz serving</p>
          <div class="beer1-borderline3"></div>
        </div>
      </div>
      <div class="section-borderline1"></div>
      <div class="beers3">
        <div class="beers3-left">
          <img src="../images/BEER-PAGE3.avif" alt="" />
        </div>
        <div class="beers3-right">
          <div class="beer1-borderline1"></div>
          <h4>Belgian Ale</h4>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me and you can start
            adding your own content and make changes to the font.
          </p>
          <div class="beer1-borderline2"></div>
          <h5>Details</h5>
          <p>Alc. 5.2% // IBUs 30</p>
          <p>192 Calories, 12 oz serving</p>
          <div class="beer1-borderline3"></div>
        </div>
      </div>
      <div class="section-borderline1"></div>
      <div class="beers4">
        <div class="beers4-left">
          <img src="../images/BEER-PAGE4.avif" alt="" />
        </div>
        <div class="beers4-right">
          <div class="beer1-borderline1"></div>
          <h4>Belgian Porter</h4>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me and you can start
            adding your own content and make changes to the font.
          </p>
          <div class="beer1-borderline2"></div>
          <h5>Details</h5>
          <p>Alc. 5.2% // IBUs 30</p>
          <p>192 Calories, 12 oz serving</p>
          <div class="beer1-borderline3"></div>
        </div>
      </div>
      <div class="section-borderline1"></div>
      <div class="beers5">
        <div class="beers5-left">
<img src="../images/BEER-PAGE5.avif" alt="">
        </div>
        <div class="beers5-right">
                    <div class="beer1-borderline1"></div>
          <h4>Belgian Summer</h4>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me and you can start
            adding your own content and make changes to the font.
          </p>
          <div class="beer1-borderline2"></div>
          <h5>Details</h5>
          <p>Alc. 5.2% // IBUs 30</p>
          <p>192 Calories, 12 oz serving</p>
          <div class="beer1-borderline3"></div>
        </div>
      </div>
      <div class="section-borderline1"></div>
      <div class="section-lastline"></div>
    </section>
    <div class="section2">
      
    </div>
    <footer>
      <div class="footer-line"></div>
      <div class="footer-sides">
        <div class="footer-left">
          <p>
            © 2035 by BELGIAN BREWERY Ltd. Powered and secured by
            <a href="https://www.wix.com/?utm_campaign=vir_created_with">Wix</a>
          </p>
        </div>
        <div class="footer-right">
          <div class="footer-icons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </div>
          <button>Let's Chat!</button>
          <div class="btn-chat"><button><i class="fa-solid fa-comment" style="color: #000000;"></i></button></div>
        </div>
        </div>
      </div>
    </footer>
  </body>
</html>
