<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/beer.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
        <header>
      <div class="header-left">
        <div class="header-logo">
          <div class="header-borderline"></div>
          <a href=""><h2>BELGIAN</h2></a>
          <div class="header-brewery">
            <div class="header-line1"></div>
            <h4>BREWERY</h4>
            <div class="header-line2"></div>
          </div>

          <p>SINCE 1896</p>
        </div>
      </div>
      <div class="header-right">
        <input type="checkbox" name="" id="check">

        <label for="check">
          <div class="burger-menu">
           <div class="burgerline1"></div>
           <div class="burgerline2"></div>
           <div class="burgerline3"></div>
        </div>
        </label>

        <nav>
          <ul>
            <li><a href="./index.html" id="active" >HOME</a></li>
            <li><a href="">BEERS</a></li>
            <li><a href="">MENU</a></li>
            <li><a href="">ORDER ONLINE</a></li>
            <li><a href="">OUR STORY</a></li>
            <li>
              <a href="./templates/brewery.html">THE BREWERY</a>
              <div class="drop-down">
                <a href="">EVENTS</a>
              </div>
            </li>
            <li><a href="">CONTACT</a></li>
          </ul>
        </nav>
        <div class="header-cart">
          <a href=""
            ><i class="fa-solid fa-cart-arrow-down" style="color: #ffd43b"></i>
          </a>
          <a href=""> <button>Log In</button></a>
        </div>
      </div>
    </header>
    <main>

    </main>
    <section>
      <div class="section-header">
        <h4>THE BEERS</h4>
        <p>﻿​I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</p>
      </div>
            <div class="beers1">
      <div class="section-borderline1"></div>

        <div class="beers1-left">

        </div>
        <div class="beers1-right">

        </div>
      </div>

    </section>
    <footer>
              <div class="footer-line"></div>
        <div class="footer-sides">
        <div class="footer-left">
        <p>© 2035 by BELGIAN BREWERY Ltd. Powered and secured by <a href="https://www.wix.com/?utm_campaign=vir_created_with">Wix</a></p>
        </div>
        <div class="footer-right">
            <div class="footer-icons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
            <button>Let's Chat!</button>
        </div>
        </div>
    </footer>
</body>
</html>