<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/belgian ale .css">
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <main></main>
    <section>
      <div class="full-section">
        <div class="section1">
          <a href="./orderonline.html"><i class="fa-solid fa-x"></i></a>
        </div>
        <div class="section2">
          <h4>Belgian Ale</h4>
          <p>
            I’m a description for a section of your menu. Click me and then
            “Edit Menu” to open the Restaurant Menu editor and change my text.
          </p>

          <div class="section3">
            <input
              type="text"
              name="text"
              id=""
              placeholder="We'll do our best to accommodate any request when possible."
            />
            <label for="text">Special Request</label>
          </div>
          <div class="section4">
            <div class="quantity-container">
              <div class="quantity-label">Quantity</div>
              <div class="quantity-selector">
                <div class="quantity-btn">−</div>
                <div class="quantity-value">1</div>
                <div class="quantity-btn">+</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section5">
        <button>Add to cart | $9.00</button>
      </div>
    </section>
</body>
</html>