<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/contact.css">
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <header>
      <div class="header-left">
        <div class="header-logo">
          <div class="header-borderline"></div>
          <a href="../index.html"><h2>BELGIAN</h2></a>
          <div class="header-brewery">
            <div class="header-line1"></div>
            <h4>BREWERY</h4>
            <div class="header-line2"></div>
          </div>

          <p>SINCE 1896</p>
        </div>
      </div>
      <div class="header-right">
        <input type="checkbox" name="" id="check">

        <label for="check" class="menu-burger">
          <div class="burger-menu">
           <div class="burgerline1"></div>
           <div class="burgerline2"></div>
           <div class="burgerline3"></div>
        </div>
        </label>

        <nav>
          <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="./beer.html">BEERS</a></li>
            <li><a href="./menu.html">MENU</a></li>
            <li><a href="./orderonline.html">ORDER ONLINE</a></li>
            <li><a href="./ourstory.html">OUR STORY</a></li>
            <li>
              <a href="./brewery.html">THE BREWERY</a>
              <span class="arrow">⌵</span>
              <div class="drop-down">
                <a href="./events.html">EVENTS</a>
              </div>
            </li>
            <li><a href="./contact.html" id="active" >CONTACT</a></li>
            <div class="log-in"><a href="./templates/login.html">Log In</a></div>
        </nav>
        <div class="header-cart">
          <a href="./cart.html"
            ><i class="fa-solid fa-cart-arrow-down" style="color: #ffd43b"></i>
          </a>
          <a href="./templates/login.html"> <button>Log In</button></a>
        </div>
      </div>
    </header>
    <main>

    </main>
    <section>
        <div class="section1">
            <div class="section-left">
                <h4>COME VISIT US</h4>
            </div>
            <div class="section-right">
               <h5>BELGIAN BREWERY</h5>
               <div class="right-contact1">
                <p>500 Terry Francine St.</p>
                <p>San Francisco, CA 94158</p>
                <p>info@mysite.com</p>
               </div>
               <div class="right-contact2">
                <p>T  /  123-456-7890   </p>
                <p>F  /  123-456-7890</p>

               </div>
               <div class="fullinput">
                <div class="input1">
                    <input type="text" name="" id="" placeholder="Name">
                    <input type="text" name="" id="" placeholder="Email">
                    <input type="text" name="" id="" placeholder="Phone">
                    
                </div>
                <div class="input2">
                    <input type="text" name="" id="" placeholder="Type your message here...">
                    <button>Submit</button>

                </div>
               </div>

            </div>

        </div>
        <div class="section2">
            <div class="section2-left">
              <h5>MAP</h5>

            </div>
            <div class="section2-right">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d197.10203447161538!2d-122.41961132147844!3d37.77521320054096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085809e932f8833%3A0x1feb74cb239f2481!2s11%20Oak%20St%2C%20San%20Francisco%2C%20CA%2094102!5e0!3m2!1sen!2sus!4v1766102278380!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

        </div>

    </section>
    <footer>
              <div class="footer-line"></div>
        <div class="footer-sides">
        <div class="footer-left">
        <p>© 2035 by BELGIAN BREWERY Ltd. Powered and secured by <a href="https://www.wix.com/?utm_campaign=vir_created_with" target="_blank" >Wix</a></p>
        </div>
        <div class="footer-right">
            <div class="footer-icons">
            <a href="https://www.facebook.com/wix" target="_blank" ><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/wix/#" target="_blank" ><i class="fa-brands fa-instagram"></i></a>
            </div>
            <input type="checkbox" name="" id="chat">
            <label for="chat">
            <span>Let's Chat</span>
            <div class="btn-chat"><span><i class="fa-solid fa-comment" style="color: #000000;"></i></span></div>
            </label>
            <div class="chatbox">
              <div class="chatbox-header">
                <div class="chatbox-header1">
                  <h5>BELGIAN BREWERY</h5>
                  <p><i class="fa-solid fa-circle" style="color: #04eca6;"></i> We’ll reply as soon as we can</p>
                </div>
                <div class="chatbox-header2">
                  <a href="./contact.html"><i class="fa-solid fa-x"></i></a>
                </div>
              </div>
              <div class="chatbox-footer">
                <input type="text" name="" id="" placeholder="Write your message...">
                <a href=""><i class="fa-regular fa-face-smile"></i> <i class="fa-solid fa-paperclip"></i></a>

              </div>

            </div>
        </div>
        </div>
    </footer>
</body>
</html>