<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/contact.css">
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <header>
      <div class="header-left">
        <div class="header-logo">
          <div class="header-borderline"></div>
          <a href="./index.html"><h2>BELGIAN</h2></a>
          <div class="header-brewery">
            <div class="header-line1"></div>
            <h4>BREWERY</h4>
            <div class="header-line2"></div>
          </div>

          <p>SINCE 1896</p>
        </div>
      </div>
      <div class="header-right">
        <input type="checkbox" name="" id="check">

        <label for="check">
          <div class="burger-menu">
           <div class="burgerline1"></div>
           <div class="burgerline2"></div>
           <div class="burgerline3"></div>
        </div>
        </label>

        <nav>
          <ul>
            <li><a href="./index.html" id="active" >HOME</a></li>
            <li><a href="./templates/beer.html">BEERS</a></li>
            <li><a href="./templates/menu.html">MENU</a></li>
            <li><a href="./templates/orderonline.html">ORDER ONLINE</a></li>
            <li><a href="./templates/ourstory.html">OUR STORY</a></li>
            <li>
              <a href="./templates/brewery.html">THE BREWERY</a>
              <span class="arrow">⌵</span>
              <div class="drop-down">
                <a href="./templates/events.html">EVENTS</a>
              </div>
            </li>
            <li><a href="">CONTACT</a></li>
            <div class="log-in"><a href="./templates/login.html">Log In</a></div>
        </nav>
        <div class="header-cart">
          <a href=""
            ><i class="fa-solid fa-cart-arrow-down" style="color: #ffd43b"></i>
          </a>
          <a href="./templates/login.html"> <button>Log In</button></a>
        </div>
      </div>
    </header>
    <main>

    </main>
    <section>
        <div class="section1">
            <div class="section-left">
                <h4>COME VISIT US</h4>
            </div>
            <div class="section-right">
               <h5>BELGIAN BREWERY</h5>
               <div class="right-contact1">
                <p>500 Terry Francine St.</p>
                <p>San Francisco, CA 94158</p>
                <p>info@mysite.com</p>
               </div>
               <div class="right-contact2">
                <p>T  /  123-456-7890   </p>
                <p>F  /  123-456-7890</p>

               </div>
               <div class="fullinput">
                <div class="input1">
                    <input type="text" name="" id="" placeholder="Name">
                    <input type="text" name="" id="" placeholder="Email">
                    <input type="text" name="" id="" placeholder="Phone">
                    
                </div>
                <div class="input2">
                    <input type="text" name="" id="" placeholder="Type your message here...">
                    <button>Submit</button>

                </div>
               </div>

            </div>

        </div>
        <div class="section2">
            <div class="section-left1">

            </div>
            <div class="section-right1">

            </div>

        </div>

    </section>
    <footer>
              <div class="footer-line"></div>
        <div class="footer-sides">
        <div class="footer-left">
        <p>© 2035 by BELGIAN BREWERY Ltd. Powered and secured by <a href="https://www.wix.com/?utm_campaign=vir_created_with" target="_blank" >Wix</a></p>
        </div>
        <div class="footer-right">
            <div class="footer-icons">
            <a href="https://www.facebook.com/wix" target="_blank" ><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/wix/#" target="_blank" ><i class="fa-brands fa-instagram"></i></a>
            </div>
            <button>Let's Chat!</button>
            <div class="btn-chat"><button><i class="fa-solid fa-comment" style="color: #000000;"></i></button></div>
        </div>
        </div>
    </footer>
</body>
</html>