<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/delivery.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <main></main>
    <section>
        <div class="scroll-section">
      <div class="section1">
        <p>How would you like to receive your order?</p>
        <a href="./orderonline.html"><i class="fa-solid fa-x"></i></a>
      </div>
               <div class="section2">
         <div class="btn-1"><button>Pickup</button></div>
         <div class="btn-2"><button>Delivery</button></div>
         </div>
         <div class="section3">
            <input type="text" name="Address" id="" placeholder="Type in your delivery address">
            <label for="Address">Deliver to:</label>
         </div>
         </div>
         <div class="section4">
            <button>Save</button>
         </div>
    </section>
  </body>
</html>
