<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/events.css" />
    <link rel="stylesheet" href="../styles/common.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
        <header>
      <div class="header-left">
        <div class="header-logo">
          <div class="header-borderline"></div>
          <a href="../index.html"><h2>BELGIAN</h2></a>
          <div class="header-brewery">
            <div class="header-line1"></div>
            <h4>BREWERY</h4>
            <div class="header-line2"></div>
          </div>

          <p>SINCE 1896</p>
        </div>
      </div>
      <div class="header-right">
        <input type="checkbox" name="" id="check">

        <label for="check" class="menu-burger">
          <div class="burger-menu">
           <div class="burgerline1"></div>
           <div class="burgerline2"></div>
           <div class="burgerline3"></div>
        </div>
        </label>

        <nav>
          <ul>
            <li><a href="../index.html" >HOME</a></li>
            <li><a href="./beer.html">BEERS</a></li>
            <li><a href="./menu.html">MENU</a></li>
            <li><a href="./orderonline.html">ORDER ONLINE</a></li>
            <li><a href="./ourstory.html">OUR STORY</a></li>
            <li>
              <a href="./brewery.html">THE BREWERY</a>
              <span class="arrow">⌵</span>
              <div class="drop-down">
                <a href="./events.html"  id="active" >EVENTS</a>
              </div>
            </li>
            <li><a href="./contact.html">CONTACT</a></li>
            <div class="log-in"><a href="./login.html" target="_blank" >Log In</a></div>
        </nav>
        <div class="header-cart">
          <a href="./cart.html"
            ><i class="fa-solid fa-cart-arrow-down" style="color: #ffd43b"></i>
          </a>
          <a href="./login.html" target="_blank" > <button>Log In</button></a>
        </div>
      </div>
    </header>
    <main>

    </main>
    <section>
        <div class="section1">
            <h5>EVENTS</h5>
            <p>﻿​I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</p>
        </div>
        <div class="section2">
            <div class="section-left">
                <div class="left-header1">
                <div class="line1"></div>
                <h4>Taste of Charlotte</h4>
                </div>
                <div class="left-header2">
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</p>
                <div class="line2"></div>
                <h5>When / Where:</h5>
                <p>Charlotte, North Carolina</p>
                <p>Saturdays between 1-3pm</p>
                <div class="line3"></div>
                </div>

            </div>
            <div class="section-right">
                <div class="right-header1">
                    <div class="line1"></div>
                    <h4>Brewfest</h4>
                </div>
                <div class="right-header2">
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</p>
                    <div class="line2"></div>
                    <h5>When / Where:</h5>
                    <p>Colorado</p>
                    <p>﻿Every Thursday from 8pm</p>
                    <div class="line3"></div>
                </div>

            </div>
        </div>
        <div class="section3">
                        <div class="section-left">
                <div class="left-header1">
                <div class="line1"></div>
                <h4>Tours & Tasting</h4>
                </div>
                <div class="left-header2">
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</p>
                <div class="line2"></div>
                <h5>When / Where:</h5>
                <p>Every Sunday at 1pm</p>
                <p>(tours take approx. 2 hours)</p>
                <div class="line3"></div>
                </div>

            </div>
            <div class="section-right">
                <div class="right-header1">
                    <div class="line1"></div>
                    <h4>WhiskyFest San Francisco</h4>
                </div>
                <div class="right-header2">
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</p>
                    <div class="line2"></div>
                    <h5>When / Where:</h5>
                    <p>Every Saturday between 1-3pm</p>
                    <p>San Francisco</p>
                    <div class="line3"></div>
                </div>

            </div>

        </div>
        <div class="section4">
                        <div class="section-left">
                <div class="left-header1">
                <div class="line1"></div>
                <h4>WhiskyFest New York</h4>
                </div>
                <div class="left-header2">
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</p>
                <div class="line2"></div>
                <h5>When / Where:</h5>
                <p>New York</p>
                <p>Every Thursday from 8pm</p>
                <div class="line3"></div>
                </div>

            </div>
            <div class="section-right">
                <div class="right-header1">
                    <div class="line1"></div>
                    <h4>Botteling Festival</h4>
                </div>
                <div class="right-header2">
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</p>
                    <div class="line2"></div>
                    <h5>When / Where:</h5>
                    <p>Every first Sunday in August at the Brewery</p>
                    <p>Every Thursday from 8pm</p>
                    <div class="line3"></div>
                </div>

            </div>
        </div>
        <div class="line4"></div>
    </section>
        <footer>
              <div class="footer-line"></div>
        <div class="footer-sides">
        <div class="footer-left">
        <p>© 2035 by BELGIAN BREWERY Ltd. Powered and secured by <a href="https://www.wix.com/?utm_campaign=vir_created_with" target="_blank" >Wix</a></p>
        </div>
        <div class="footer-right">
            <div class="footer-icons">
            <a href="https://www.facebook.com/wix" target="_blank" ><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/wix/#" target="_blank" ><i class="fa-brands fa-instagram"></i></a>
            </div>
            <input type="checkbox" name="" id="chat">
            <label for="chat">
            <span>Let's Chat</span>
            <div class="btn-chat"><span><i class="fa-solid fa-comment" style="color: #000000;"></i></span></div>
            </label>
            <div class="chatbox">
              <div class="chatbox-header">
                <div class="chatbox-header1">
                  <h5>BELGIAN BREWERY</h5>
                  <p><i class="fa-solid fa-circle" style="color: #04eca6;"></i> We’ll reply as soon as we can</p>
                </div>
                <div class="chatbox-header2">
                  <a href="./events.html"><i class="fa-solid fa-x"></i></a>
                </div>
              </div>
              <div class="chatbox-footer">
                <input type="text" name="" id="" placeholder="Write your message...">
                <a href=""><i class="fa-regular fa-face-smile"></i> <i class="fa-solid fa-paperclip"></i></a>

              </div>

            </div>
        </div>
        </div>
    </footer>
  </body>
</html>
