<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/menu.css">
    <link rel="stylesheet" href="../styles/common.css">
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
        <header>
      <div class="header-left">
        <div class="header-logo">
          <div class="header-borderline"></div>
          <a href="../index.html"><h2>BELGIAN</h2></a>
          <div class="header-brewery">
            <div class="header-line1"></div>
            <h4>BREWERY</h4>
            <div class="header-line2"></div>
          </div>

          <p>SINCE 1896</p>
        </div>
      </div>
      <div class="header-right">
        <input type="checkbox" name="" id="check">

        <label for="check">
          <div class="burger-menu">
           <div class="burgerline1"></div>
           <div class="burgerline2"></div>
           <div class="burgerline3"></div>
        </div>
        </label>

        <nav>
          <ul>
            <li><a href="../index.html" >HOME</a></li>
            <li><a href="./beer.html">BEERS</a></li>
            <li><a href="./menu.html" id="active" >MENU</a></li>
            <li><a href="./orderonline.html">ORDER ONLINE</a></li>
            <li><a href="./ourstory.html">OUR STORY</a></li>
            <li>
              <a href="./brewery.html">THE BREWERY</a>
              <span class="arrow">⌵</span>
              <div class="drop-down">
                <a href="./events.html">EVENTS</a>
              </div>
            </li>
            <li><a href="./contact.html">CONTACT</a></li>
            <div class="log-in"><a href="./login.html">Log In</a></div>
        </nav>
        <div class="header-cart">
          <a href=""
            ><i class="fa-solid fa-cart-arrow-down" style="color: #ffd43b"></i>
          </a>
          <a href="./login.html"> <button>Log In</button></a>
        </div>
      </div>
    </header>
    <main>

    </main>
    <section>
            <div class="menu-box1">
            <div class="menu-header">
                <h4>MENU</h4>
                </div>
                <div class="menu-header2">
                    <h4>OUR BEERS</h4>
                    <p>This is a section of your menu, customize it any way you want.</p>
                </div>
            </div>
            <div class="menu-box2">
                <div class="menu-left">
                    <h5>Belgian Small Beer</h5>
                    <p>I’m a description for a section of your menu. Click me and then “Edit Menu” to open the Restaurant Menu editor and change my tex</p>
                </div>
                <div class="menu-right">
                    <p>$9.00</p>
                    <img src="../images/menu-page1.avif" alt="">
                </div>
            </div>
            <div class="menu-box3">
                <div class="menu-left">
                    <h5>Belgian Steam Beer</h5>
                    <p>I’m a description for a section of your menu. Click me and then “Edit Menu” to open the Restaurant Menu editor and change my tex</p>
                </div>
                <div class="menu-right">
                    <p>$9.00</p>
                    <img src="../images/menu.page2.avif" alt="">
                </div>
            </div>
            <div class="menu-box4">
                <div class="menu-left">
                    <h5>Belgian Ale</h5>
                    <p>I’m a description for a section of your menu. Click me and then “Edit Menu” to open the Restaurant Menu editor and change my tex</p>
                </div>
                <div class="menu-right">
                    <p>$9.00</p>
                    <img src="../images/menu.page3.avif" alt="">
                </div>
            </div>
            <div class="menu-box5">
                <div class="menu-left">
                    <h5>Belgian Porter</h5>
                    <p>I’m a description for a section of your menu. Click me and then “Edit Menu” to open the Restaurant Menu editor and change my tex</p>
                </div>
                <div class="menu-right">
                    <p>$9.00</p>
                    <img src="../images/menu.page4.avif" alt="">
                </div>
            </div>
    </section>
    <footer>
              <div class="footer-line"></div>
        <div class="footer-sides">
        <div class="footer-left">
        <p>© 2035 by BELGIAN BREWERY Ltd. Powered and secured by <a href="https://www.wix.com/?utm_campaign=vir_created_with" target="_blank" >Wix</a></p>
        </div>
        <div class="footer-right">
            <div class="footer-icons">
            <a href="https://www.facebook.com/wix" target="_blank" ><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/wix/#" target="_blank" ><i class="fa-brands fa-instagram"></i></a>
            </div>
            <button>Let's Chat!</button>
            <div class="btn-chat"><button><i class="fa-solid fa-comment" style="color: #000000;"></i></button></div>
        </div>
        </div>
    </footer>
    
</body>
</html>