<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/orderonline.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <header>
      <div class="header-left">
        <div class="header-logo">
          <div class="header-borderline"></div>
          <a href="./index.html"><h2>BELGIAN</h2></a>
          <div class="header-brewery">
            <div class="header-line1"></div>
            <h4>BREWERY</h4>
            <div class="header-line2"></div>
          </div>

          <p>SINCE 1896</p>
        </div>
      </div>
      <div class="header-right">
        <input type="checkbox" name="" id="check">

        <label for="check">
          <div class="burger-menu">
           <div class="burgerline1"></div>
           <div class="burgerline2"></div>
           <div class="burgerline3"></div>
        </div>
        </label>

        <nav>
          <ul>
            <li><a href="../index.html"  >HOME</a></li>
            <li><a href="./beer.html">BEERS</a></li>
            <li><a href="./menu.html">MENU</a></li>
            <li><a href="./orderonline.html" id="active" >ORDER ONLINE</a></li>
            <li><a href="./ourstory.html">OUR STORY</a></li>
            <li>
              <a href="./brewery.html">THE BREWERY</a>
              <span class="arrow">⌵</span>
              <div class="drop-down">
                <a href="">EVENTS</a>
              </div>
            </li>
            <li><a href="">CONTACT</a></li>
            <div class="log-in"><a href="./login.html">Log In</a></div>
        </nav>
        <div class="header-cart">
          <a href=""
            ><i class="fa-solid fa-cart-arrow-down" style="color: #ffd43b"></i>
          </a>
          <a href="./login.html"> <button>Log In</button></a>
        </div>
      </div>
    </header>
    <main>

    </main>
    <section>
        <div class="section1">
            <div class="section1-header1">
         <h4>Order Online</h4>
         <p>You can order online! Browse our menu items and choose what you’d like to order from us.</p>
         </div>
         <div class="section1-header2">
         <button><i class="fa-solid fa-circle" style="color: #02ca8e;"></i> Accepting Orders</button>
         </div>
         <div class="section1-header3">
         <div class="btn-1"><button>Pickup</button></div>
         <div class="btn-2"><button>Delivery</button></div>
         </div>
         <div class="section1-header4">
         <p><i class="fa-regular fa-clock"></i> Pickup time: Up to 30 minutes <a href=""><span>Change</span></a></p>
         <p><i class="fa-solid fa-location-dot"></i> Pickup Address: San Francisco, CA</p>
         </div>
        </div>
        <div class="section2">
            <div class="section2-header1">
            <h5>OUR BEERS</h5>
            <div class="line1"></div>
            
 
        <div class="section2-header2">
            <h5>MENU</h5>

        </div>
               </div>

    </section>
    
</body>
</html>