<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/ourstory.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <header>
      <div class="header-left">
        <div class="header-logo">
          <div class="header-borderline"></div>
          <a href="./index.html"><h2>BELGIAN</h2></a>
          <div class="header-brewery">
            <div class="header-line1"></div>
            <h4>BREWERY</h4>
            <div class="header-line2"></div>
          </div>

          <p>SINCE 1896</p>
        </div>
      </div>
      <div class="header-right">
        <input type="checkbox" name="" id="check">

        <label for="check">
          <div class="burger-menu">
           <div class="burgerline1"></div>
           <div class="burgerline2"></div>
           <div class="burgerline3"></div>
        </div>
        </label>

        <nav>
          <ul>
            <li><a href="../index.html" >HOME</a></li>
            <li><a href="./beer.html">BEERS</a></li>
            <li><a href="./menu.html">MENU</a></li>
            <li><a href="./orderonline.html">ORDER ONLINE</a></li>
            <li><a href="./ourstory.html"id="active" >OUR STORY</a></li>
            <li>
              <a href="./brewery.html">THE BREWERY</a>
              <span class="arrow">⌵</span>
              <div class="drop-down">
                <a href="./events.html">EVENTS</a>
              </div>
            </li>
            <li><a href="">CONTACT</a></li>
            <div class="log-in"><a href="./login.html">Log In</a></div>
        </nav>
        <div class="header-cart">
          <a href=""
            ><i class="fa-solid fa-cart-arrow-down" style="color: #ffd43b"></i>
          </a>
          <a href="./templates/login.html"> <button>Log In</button></a>
        </div>
      </div>
    </header>
    <main>

    </main>
    <section>
        <div class="section1">
            <div class="section1-left">
            </div>
            <div class="section1-right">
                <div class="section1-right-header">
                    <h4>OUR STORY</h4>
                    <div class="line1"></div>
                </div>
                <div class="section1-right-content">
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                    <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
                    <p>At Wix we’re passionate about making templates that allow you to build fabulous websites and it’s all thanks to the support and feedback from users like you! Keep up to date with New Releases and what’s Coming Soon in Wixellaneous in Support. Feel free to tell us what you think and give us feedback in the Wix Forum. If you’d like to benefit from a professional designer’s touch, head to the Wix Arena and connect with one of our Wix Pro designers. Or if you need more help you can simply type your questions into the Support Forum and get instant answers. To keep up to date with everything Wix, including tips and things we think are cool, just head to the Wix Blog!</p>
                </div>

            </div>
        </div>
        <div class="section2">
          <div class="section2-left">

          </div>
          <div class="section2-right">
            <div class="section2-right-header">
              <h4>SCOTT BROTHERS</h4>
              <div class="line1"></div>
            </div>
            <div class="section2-right-content">
              <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
              <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
              <p>At Wix we’re passionate about making templates that allow you to build fabulous websites and it’s all thanks to the support and feedback from users like you! Keep up to date with New Releases and what’s Coming Soon in Wixellaneous in Support. Feel free to tell us what you think and give us feedback in the Wix Forum. If you’d like to benefit from a professional designer’s touch, head to the Wix Arena and connect with one of our Wix Pro designers. Or if you need more help you can simply type your questions into the Support Forum and get instant answers. To keep up to date with everything Wix, including tips and things we think are cool, just head to the Wix Blog!</p>
            </div>

          </div>
        </div>
    </section>
    <footer>
              <div class="footer-line"></div>
        <div class="footer-sides">
        <div class="footer-left">
        <p>© 2035 by BELGIAN BREWERY Ltd. Powered and secured by <a href="https://www.wix.com/?utm_campaign=vir_created_with" target="_blank" >Wix</a></p>
        </div>
        <div class="footer-right">
            <div class="footer-icons">
            <a href="https://www.facebook.com/wix" target="_blank" ><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/wix/#" target="_blank" ><i class="fa-brands fa-instagram"></i></a>
            </div>
            <button>Let's Chat!</button>
            <div class="btn-chat"><button><i class="fa-solid fa-comment" style="color: #000000;"></i></button></div>
        </div>
        </div>
    </footer>

</body>
</html>