main{
  position: absolute !important;
  top: 100px;
  z-index: -1;

  height: 120vh !important;

}

/* #region start section */
section {
  width: 70%;
  background-color: black;
      margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  color: #efefef;
  display: flex;
  gap: 30px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  z-index: 3;
  padding-left: 30px;
  padding-right: 30px;
}
.section-borderline1 {
  width: 90%;
  border: #efefef dashed 1px;
}
.section-header {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 50px;
}
.section-header h4 {
  font-size: 34px;
  font-weight: 500;
}
.section-header p {
  font-size: 16px;
  max-width: 700px;
}

/* #endregion section */


#check:checked ~ nav ul li:nth-child(2) {
  background-color: #ddc000;
}
/* #region start beers1 */

.beers1 {
  width: 100%;
  /* height: 30vh; */
  display: flex;


}
.beers1-left {
  width: 50%;
  /* height: 30vh; */
  display: flex;
  justify-content: flex-end;
}
/* .beers1-left img {
  width: 50%;
  height: 100%;
} */
.beers1-right {
  width: 50%;
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

}
.beer1-borderline1 {
  width: 40%;
  border: #efefef dashed 1px;
}
.beer1-borderline2 {
  width: 50%;
  border: #efefef dashed 1px;
}
.beer1-borderline3 {
    width: 38%;
    border: #efefef dashed 1px;
}
.beers1-right h4 {
  font-size: 22px;
  font-weight: 200;
}
.beers1-right h5 {
  font-size: 16px;
  font-weight: 200;
}
.beers1-right p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 445px;
}

/* #endregion beers1 */

/* #region start beers2 */
.beers2 {
  width: 100%;
  /* height: 30vh; */
  display: flex;

}
/* .beers2-left img {
  width: 50%;
  height: 100%;
} */
.beers2-left {
  width: 50%;
  /* height: 30vh; */
  display: flex;
  justify-content: flex-end;
}

.beers2-right {
  width: 50%;
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

}
.beers2-right h4 {
  font-size: 22px;
  font-weight: 200;
}
.beers2-right h5 {
  font-size: 16px;
  font-weight: 200;
}
.beers2-right p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 445px;
}
/* #endregion beers2 */

/* #region start beers3 */
.beers3 {
  width: 100%;
  /* height: 30vh; */
  display: flex;

}
/* .beers3-left img {
  width: 50%;
  height: 100%;
} */
.beers3-left {
  width: 50%;
  /* height: 30vh; */
  display: flex;
  justify-content: flex-end;
}

.beers3-right {
  width: 50%;
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.beers3-right h4 {
  font-size: 22px;
  font-weight: 200;
}
.beers3-right h5 {
  font-size: 16px;
  font-weight: 200;
}
.beers3-right p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 445px;
}
/* #endregion beers3 */

/* #region start beers4 */
.beers4 {
  width: 100%;
  /* height: 30vh; */
  display: flex;

}
/* .beers4-left img {
  width: 50%;
  height: 100%;
} */
.beers4-left {
  width: 50%;
  /* height: 30vh; */
  display: flex;
  justify-content: flex-end;
}

.beers4-right {
  width: 50%;
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.beers4-right h4 {
  font-size: 22px;
  font-weight: 200;
}
.beers4-right h5 {
  font-size: 16px;
  font-weight: 200;
}
.beers4-right p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 445px;
}
/* #endregion beers4 */

/* #region start beers5 */

.beers5 {
  width: 100%;
  /* height: 30vh; */
  display: flex;

}
/* .beers5-left img {
  width: 50%;
  height: 100%;
} */
.beers5-left {
  width: 50%;
  /* height: 30vh; */
  display: flex;
  justify-content: flex-end;
}

.beers5-right {
  width: 50%;
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.beers5-right h4 {
  font-size: 22px;
  font-weight: 200;
}
.beers5-right h5 {
  font-size: 16px;
  font-weight: 200;
}
.beers5-right p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 445px;
}

/* #endregion beers5 */

/* #region startmedia */
@media screen and (max-width:640px) {
section {
  width: 90%;

}
.beers1-left {
  width: 100%;
  justify-content: center;
}
.beers2-left {
  width: 100%;
  justify-content: center;
}
.beers3-left {
  width: 100%;
  justify-content: center;
}
.beers4-left {
  width: 100%;
  justify-content: center;
}
.beers5-left {
  width: 100%;
  justify-content: center;
}
.beers1-right {
  width: 100%;
}
.beers2-right {
  width: 100%;
}
.beers3-right {
  width: 100%;
}
.beers4-right {
  width: 100%;
}
.beers5-right {
  width: 100%;
}
.beer1-borderline1 {
  width: 100%;
}
.beer1-borderline2{
  width: 100%;
}
.beer1-borderline3 {
  width: 100%;
}
.section-borderline1 {
  width: 100%;
}
.beers1, .beers2, .beers3, .beers4, .beers5 {
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
}
.section-header {
  padding-top: 0px;
  padding-bottom: 0px;
}
}
@media screen and (max-width:480px) {
  section {
    top: 45%;
  }
}

/* #endregion media */