@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
}
html {
    background-color: black;
}

body {
    min-height: 700px;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url(../images/41d000_898b811241c2fb7001c61f77a0fa10ef.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  width: 50%;
  background-color: black;
  position: absolute;
  right: 25%;
  top: 5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.full-section {
  overflow-y: scroll;
  padding-right: 10px;
}

/* #region start section1 */

.section1 {
  width: 100%;
  height: 40vh;
  background-image: url(/images/ORDERONLINE\ IMAGE3.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section1 i {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 20px;
  color: gray;
}

/* #endregion section1 */

/* #region start section2 */

.section2 {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section2 h4 {
  font-size: 28px;
  font-family: "kelly slab", fantasy;
  font-weight: normal;
  padding-top: 10px;
}
.section2 p {
  font-size: 16px;
  font-family: "open sans", sans-serif;
}

/* #endregion section2 */

/* #region start section3 */

.section3 {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  padding-right: 10px;
}
.section3 label {
  font-size: 14px;
  font-family: "open sans", sans-serif;
}
.section3 input {
  padding-bottom: 30px;
  padding-left: 10px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-family: "open sans", sans-serif;
  height: 70px;
  border: 1px solid gray;
}
.section3 input::placeholder {
  color: #ffffff;
}

/* #endregion section3 */

/* #region start section4  */

.section4 {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 20%;
}

.quantity-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid gray;
  padding: 10px 16px;
  width: 120px;
  height: 45px;
}
.quantity-selector:hover {
    border: 1px solid white;
}
.quantity-value {
  font-size: 20px;
}
.quantity-btn {
  font-size: 20px;
}

/* #endregion section4 */

/* #region start section5 */

.section5 {
  width: 100%;
  display: flex;
padding: 20px;
    border-top: 1px solid gray;
}
.section5 button {
  width: 100%;
  background-color: #ddc000;
  color: #000000;
  padding: 15px 15px;
  font-size: 16px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.section5 button:hover {
    text-decoration: underline;
}

/* #endregion section5 */

/* #region start media */

@media screen and (max-width:1000px) {
    .section3 input {
        font-size: 14px;
    }
    
}
@media screen and (max-width:710px) {
    section {
        top: 3%;
    }
}
@media screen and (max-width:600px) {
    section {
        width: 70%;
        left: 18%;
    }
}
@media screen and (max-width:400px) {
 section {
    width: 80%;
    left: 10%;
 }
}
@media screen and (max-width:352px) {
    .section2 p {
        font-size: 14px;
    }
    .section2 h4 {
        font-size: 24px;
    }
}

/* #endregion media */