main{
  position: absolute !important;
  top: 100px;
  z-index: -1;

  height: 85vh !important;

}


#active {
  color: #ddc000; 
}

/* #region startsection */
section {
  width: 70%;
  background-color: black;
        margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute;
  top: 25%;
  right: 15%; */
  color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  padding-left: 30px;
  padding-right: 30px;
}
section h2 {
  padding-top: 40px;
  font-size: 28px;
  font-weight: 200;
  padding-bottom: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  max-width: 1400px;
  margin: 0 auto;
}

.grid-item {
  overflow: hidden;
  position: relative;
  background: #1a1a1a;
}
.grid-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.712);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-item:hover .overlay {
  opacity: 1;
}
.overlay p {
    font-size: 16px;
  max-width: 200px;
}
.overlay h5 {
  font-size: 20px;
  padding-bottom: 10px;
}



#check:checked ~ nav ul li:nth-child(6) {
  background-color: #ddc000;
}


/* #endregion section */


/* #region media */

@media screen and (max-width:640px) {
  section {
    height: AUTO;
    width: 95%;
    margin-top: 2%;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }


  
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr; 
  }


}

/* #endregion media */