


/* #region startmain */
main {
    width: 100%;
    height: 70vh;
    background-image: url(../images/41d000_898b811241c2fb7001c61f77a0fa10ef.avif);
    background-position: center -185px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 20px;
    position: relative;
}
/* #endregion main */




/* #region startsection */
section {
    width: 70%;
    height: 70vh;
    background-color: black;
    position: absolute;
    top: 25%;
    right: 15%;
    color: #efefef;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 3;
    padding-left:30px;
    padding-right: 30px;
    
}

section h2 {
    padding-top: 40px;
    font-size: 32px;
    font-weight: 200;
    padding-bottom: 40px;
}
.section2 {
    width: 100%;
    height: 22vh;
    background-color: black;
    position: absolute;
    top: 74%;
}
        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 228px);
            grid-template-rows: repeat(3, 171px);
            gap: 10px;
            max-width: 1400px;
            margin: 0 auto;
        }

        .grid-item {
            overflow: hidden;
            position: relative;
            background: #1a1a1a;

        }
        .grid-item img{
            width: 228px;
            height: 171px;
            object-fit: cover;
        }
        /* #endregion section */


        footer {
            position: relative;
        }