@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #efefef;
}

body {
    min-height: 700px;
}


main {
    width: 100%;
    height: 100vh;
    background-image: url(../images/41d000_898b811241c2fb7001c61f77a0fa10ef.avif);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

/* #region start section */

section {
    width: 30%;
    height: 100vh;
    background-color: black;
    margin-left: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
    width: 100%;
    padding-left: 20px;
}
.header h5 {
    font-size: 20px;
     font-family: "kelly slab";
     font-weight: normal;
}
.header span {
    font-size: 16px;
    font-family: "open sans";
}
.header i {
font-size: 22px;
color: gray;
}
.line1 {
    width: 95%;
    border-bottom: 1px solid white;
    margin: auto;
}
.content {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    font-family: "open sans", sans-serif;
}

/* #endregion section */

/* #region start media */

@media screen and (max-width:800px) {
section {
    width: 55%;
}    
}
@media screen and (max-width:480px) {
    section {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* #endregion media */