
@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "kelly slab", fantasy;
}

html {
  background-color: black;
 
}
#active {
  color: #dddc33;
}
a:visited {
  color: white;!important;
}

/* #region startmain */

main {
  width: 100%;
  height: 70vh;
  background-image: url(../images/41d000_898b811241c2fb7001c61f77a0fa10ef.avif);
  background-position: center -185px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 20px;
  position: relative;
}

/* #endregion main */


/* #region startheader */

header {
  width: 100%;
  background-color: black;
  display: flex;
}
.header-left {
  width: 35%;
  height: 25vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.header-right {
  width: 65%;
  height: 25vh;
  display: flex;
  align-items: flex-end;
  gap: 50px;
}

.burger-menu{
  display: none;
  flex-direction: column;
  gap: 10px;
  
}
.burgerline1, .burgerline2, .burgerline3 {
      height:3px;
    background:#ffd500;
    border-radius:2px;
    transition:.3s;
  
  
}
#check {
  display: none;
}
#check:checked + label {
    padding-right: 20px;
}
#check:checked + label > .burger-menu > .burgerline2 {
  display: none;
}
#check:checked + label > .burger-menu > .burgerline1 {
  transform: rotate(45deg) translate(14px);
  z-index: 999;
}
#check:checked + label > .burger-menu > .burgerline3 {
  transform: rotate(-45deg) translate(14px);
  z-index: 999;
}
#check:checked ~ nav {
  display: flex;
  position: fixed;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 9;
}
#check:checked ~ nav ul {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-logo {
  width: 250px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #ddc000;
  position: absolute;
  bottom: -30px;
  z-index: 3;
}
.header-logo h2 {
  font-size: 50px;
  font-weight: 200;
  color: #ddc000;
}
.header-logo h4 {
  font-size: 22px;
  font-weight: 200;
}
.header-logo p {
  font-size: 18px;
  padding-top: 10px;
  letter-spacing: 0.6em;
}
.header-borderline {
  width: 193px;
  height: 2px;
  background-color: #ddc000;
}
.header-line1 {
  width: 35px;
  height: 2px;
  background-color: #ddc000;
  margin-top: 10px;
}
.header-line2 {
  width: 35px;
  height: 2px;
  background-color: #ddc000;
  margin-top: 10px;
}
.header-brewery {
  display: flex;
  gap: 8px;
}
.header-right ul {
  display: flex;
  color: #f3f3f3;
  padding-bottom: 20px;
  font-size: 15px;
  color: #ffffff;
}
.header-right ul a {
  padding: 0px 10px;
}
.header-right ul a:hover {
  transition: 0.6s;
  color: #ddc000;
}
.header-right ul a:active {
  color: #ddc000;
}
a:active {
  color: #ddc000;
}
nav li {
  position: relative;
}
.drop-down {
  width: 120px;
  padding: 10px 10px;
  background-color: black;
  display: none;
  position: absolute;
  top: 20px;
  z-index: 4;
}
li:hover .drop-down {
  transition: 0.8s;
  display: block;
}
.header-cart {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 5px;
}
.header-cart i {
  font-size: 20px;
}
.header-cart button {
  color: #ddc000;
  font-family: "open sans", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
}
.header-cart button:hover {
  color: #ddc0009f;
  transition: 0.3s;
}

/* #endregion header */

/* #region startfooter */
footer {
  width: 100%;
  background-color: black;
  z-index: 6;
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: white;

}

.footer-sides {
  display: flex;
}
.footer-left {
  width: 60%;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.footer-left p {
  padding-top: 10px;
  font-family: "open sans", sans-serif;
}
.footer-left a {
  text-decoration: underline;
}
.footer-right {
  width: 40%;
  height: 10vh;
  display: flex;
  justify-content: center;
  gap: 5px;
  position: relative;
}
.footer-right button {
  background-color: #ddc000;
  width: 200px;
  height: 65px;
  position: fixed;
  left: 85%;
  bottom: 4%;
  font-size: 18px;
  cursor: pointer;
}
.footer-right a {
  font-size: 24px;
  color: white;
}
.footer-icons {
  padding-right: 105px;
  padding-top: 10px;
}
/* #endregion footer */


/* #region startmedia */




@media screen and (max-width: 930px) {
    .header-cart {
      position: absolute;
  }
  
}

@media screen and (max-width: 780px) {
  .burger-menu{
   width:26px;
    height:23px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    
  }
  label {
    width:48px;
    height:48px;
    border:2px solid #ffd500;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    z-index: 11;
  
}
  .header-right {
    padding-right: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  nav  {
    display: none;
  }
.header-cart {
  left: 50%;
  top: 10%;
}
}
@media screen and (max-width:640px) {
  header {
    height: 40vh;
  }
  .header-logo {
    left: 92%;

  }
  .header-cart {
    left: 50%;
    top: 30%;
    z-index: 4;
  }
  
}
@media screen and  (max-width:480px) {
    html {
   background-image: url(../images/41d000_898b811241c2fb7001c61f77a0fa10ef.avif);
  background-position: top top;
  background-repeat: no-repeat;
  }
  header {
    margin-top: 20px;
  }
  .header-logo {
    left: 60%;
  }
  .header-borderline {
    display: none;
  }
  .header-cart {
    top: 35%;
    left: 45%;
  }
  label {
    position: absolute;
    top: 5%;
  }
  .footer-sides {
    padding-left: 20px;
  width: 100%;
  flex-direction: column-reverse;
}

}
@media screen and (max-width:900px) {
  .footer-right button {
    display: none;
  }
}




/* #endregion media */