@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "kelly slab", fantasy;
}
a:visited {
  color: white;
}

/* #region startheader */

header {
  width: 100%;
  background-color: black;
  display: flex;
}
.header-left {
  width: 35%;
  height: 25vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.header-right {
  width: 65%;
  height: 25vh;
  display: flex;
  align-items: flex-end;
  gap: 50px;
}
.header-logo {
  width: 250px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #ddc000;
  position: absolute;
  bottom: -30px;
  z-index: 3;
}
.header-logo h2 {
  font-size: 50px;
  font-weight: 200;
  color: #ddc000;
}
.header-logo h4 {
  font-size: 22px;
  font-weight: 200;
}
.header-logo p {
  font-size: 18px;
  padding-top: 10px;
  letter-spacing: 0.6em;
}
.header-borderline {
  width: 193px;
  height: 2px;
  background-color: #ddc000;
}
.header-line1 {
  width: 35px;
  height: 2px;
  background-color: #ddc000;
  margin-top: 10px;
}
.header-line2 {
  width: 35px;
  height: 2px;
  background-color: #ddc000;
  margin-top: 10px;
}
.header-brewery {
  display: flex;
  gap: 8px;
}
.header-right ul {
  display: flex;
  color: #f3f3f3;
  padding-bottom: 20px;
  font-size: 15px;
  color: #ffffff;
}
.header-right ul a {
  padding: 0px 10px;
}
.header-right ul a:hover {
  transition: 0.6s;
  color: #ddc000;
}
.header-right ul a:active {
  color: #ddc000;
}
a:active {
  color: #ddc000;
}
nav li {
  position: relative;
}
.drop-down {
  width: 120px;
  padding: 10px 10px;
  background-color: black;
  display: none;
  position: absolute;
  top: 35px;
  z-index: 4;
}
li:hover .drop-down {
  transition: 0.8s;
  display: block;
}
.header-cart {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 5px;
}
.header-cart i {
  font-size: 20px;
}
.header-cart button {
  color: #ddc000;
  font-family: "open sans", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
}
.header-cart button:hover {
  color: #ddc0009f;
  transition: 0.3s;
}

/* #endregion header */

/* #region startfooter */
footer {
  width: 100%;
  height: 13vh;
  background-color: black;
  position: absolute;
  bottom: -24%;
  z-index: 6;
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: white;

}

.footer-sides {
  display: flex;
}
.footer-left {
  width: 60%;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.footer-left p {
  padding-top: 10px;
  font-family: "open sans", sans-serif;
}
.footer-left a {
  text-decoration: underline;
}
.footer-right {
  width: 40%;
  height: 10vh;
  display: flex;
  justify-content: center;
  gap: 5px;
  position: relative;
}
.footer-right button {
  background-color: #ddc000;
  width: 200px;
  height: 65px;
  position: fixed;
  left: 85%;
  bottom: 4%;
  font-size: 18px;
  cursor: pointer;
}
.footer-right a {
  font-size: 24px;
  color: white;
}
.footer-icons {
  padding-right: 105px;
  padding-top: 10px;
}
/* #endregion footer */



/* media for 825px */