@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "kelly slab", fantasy;
}

body {
  min-height: 700px;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}

/* #region startmain */

main {
  width: 100%;
  height: 70vh;
  background-image: url(../images/41d000_898b811241c2fb7001c61f77a0fa10ef.avif);
  background-position: center -185px;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 60px 20px; */
  position: relative;
}

/* #endregion main */

/* #region startheader */

header {
  width: 100%;
  background-color: black;
  display: flex;
}
.header-left {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.header-right {
  width: 65%;
  height: 25vh;
  display: flex;
  align-items: flex-end;
  gap: 50px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
}
.burgerline1,
.burgerline2,
.burgerline3 {
  width: 30px;
  height: 3px;
  background: #ffd500;
  border-radius: 2px;
  transition: 0.3s;
}
.log-in a {
  display: none;
  color: #ddc000;
  font-family: "open sans", sans-serif;
  font-size: 16px;
}
#check {
  display: none;
}
#check:checked + label {
  padding-right: 20px;
}
#check:checked + label > .burger-menu > .burgerline2 {
  display: none;
}
#check:checked + label > .burger-menu > .burgerline1 {
  transform: rotate(45deg) translate(14px);
  z-index: 999;
}
#check:checked + label > .burger-menu > .burgerline3 {
  transform: rotate(-45deg) translate(14px);
  z-index: 999;
}
#check:checked ~ nav {
  display: flex;
  position: fixed;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 9;
}
#check:checked ~ nav ul {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#check:checked ~ nav ul li {
  width: 80%;
  padding: 18px;
  border: 2px solid #ddc000;
  color: #ddc000;
  font-size: 18px;
  text-align: left;
  background: black;
  transition: 0.3s;
}
#check:checked ~ nav ul li a {
  color: #ddc000 !important;
}

#check:checked ~ nav ul li #active {
  color: black !important;
}
#check:checked ~ nav ul li .drop-down {
  display: none;
  position: relative;
  width: 105%;
  padding: 18px;
  color: #ddc000;
  font-size: 18px;
  text-align: left;
  background-color: black;
  transition: 0.3s;
}
#check:checked ~ nav ul li:hover .drop-down {
  transition: 0.8s;
  display: block;
}
#check:checked ~ nav ul li span {
  display: inline-block;
}
#check:checked ~ nav .log-in a {
  display: flex;
  position: absolute;
  top: 8%;
  left: 10%;
  color: #ddc000;
}
.header-logo {
  width: 250px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #ddc000;
  position: absolute;
  bottom: -30px;
  z-index: 3;
}
.header-logo h2 {
  font-size: 50px;
  font-weight: 200;
  color: #ddc000;
}
.header-logo h4 {
  font-size: 22px;
  font-weight: 200;
}
.header-logo p {
  font-size: 18px;
  padding-top: 10px;
  letter-spacing: 0.6em;
}
.header-borderline {
  width: 193px;
  height: 2px;
  background-color: #ddc000;
}
.header-line1 {
  width: 35px;
  height: 2px;
  background-color: #ddc000;
  margin-top: 10px;
}
.header-line2 {
  width: 35px;
  height: 2px;
  background-color: #ddc000;
  margin-top: 10px;
}
.header-brewery {
  display: flex;
  gap: 8px;
}
.header-right ul {
  display: flex;
  color: #f3f3f3;
  padding-bottom: 20px;
  font-size: 15px;
  color: #ffffff;
}
.header-right ul a {
  padding: 0px 10px;
}
.header-right ul a:hover {
  transition: 0.6s;
  color: #ddc000;
}
.header-right ul a:active {
  color: #ddc000;
}
a:active {
  color: #ddc000;
}
#active {
  color: #dddc33 !important;
}
a:visited {
  color: white;
}
li a {
  color: white;
}
nav li {
  position: relative;
}
nav ul li span {
  display: none;
}
.drop-down {
  width: 120px;
  padding: 10px 10px;
  background-color: black;
  display: none;
  position: absolute;
  top: 20px;
  z-index: 4;
}
li:hover .drop-down {
  transition: 0.8s;
  display: block;
}
.header-cart {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 5px;
}
.header-cart i {
  font-size: 20px;
}
.header-cart button {
  color: #ddc000;
  font-family: "open sans", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
}
.header-cart button:hover {
  color: #ddc0009f;
  transition: 0.3s;
}

/* #endregion header */

/* #region startfooter */
footer {
  width: 100%;
  background-color: black;
  z-index: 999;
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: white;
}

.footer-sides {
  display: flex;
}
.footer-left {
  width: 60%;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.footer-left p {
  padding-top: 10px;
  font-family: "open sans", sans-serif;
}
.footer-left a {
  text-decoration: underline;
  color: white;
}
.footer-right {
  width: 40%;
  height: 10vh;
  display: flex;
  justify-content: center;
  gap: 5px;
  position: relative;
}
.footer-right span {
  background-color: #ddc000;
  width: 200px;
  height: 65px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 85%;
  bottom: 2%;
  font-size: 18px;
  cursor: pointer;
  z-index: 999;
}
.btn-chat span {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background: #d4b900;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  z-index: 9999;
}
.footer-right a {
  font-size: 24px;
  color: white;
}
.footer-icons {
  padding-right: 105px;
  padding-top: 10px;
}

/* #endregion footer */

/* #region start chat */

#chat {
  display: none;
}
#chat:checked ~ .chatbox {
  display: flex;
  flex-direction: column;
}
.chatbox {
  width: 350px;
  height: 60vh;
  background-color: white;
  bottom: 30px;
  right: 10px;
  display: none;
  position: fixed;
  z-index: 9999;
  background-color: wheat;
}
.chatbox-header {
  width: 100%;
  height: 10vh;
  background-color: #ddc000;
  display: flex;
  justify-content: space-between;
}
.chatbox-header1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px;
  padding-top: 10px;
}
.chatbox-header1 h5 {
  font-size: 19px;
  color: #000000;
  font-family: "kelly slab";
  font-weight: normal;
}
.chatbox-header1 p {
  font-size: 14px;
  font-family: "open sans", sans-serif;
}
.chatbox-header1 i {
  font-size: 10px;
}
.chatbox-header2 {
  display: flex;
  align-items: center;
}
.chatbox-header2 i {
  font-size: 18px;
  color: gray;
  padding-right: 20px;
  padding-bottom: 20px;
}
.chatbox-footer {
  width: 100%;
  height: 8vh;
  background-color: white;
  margin-top: auto;
  display: flex;
}
.chatbox-footer input {
  outline: none;
  width: 70%;
  height: 100%;
  border: none;
  padding-left: 20px;
  color: #000000;
  font-size: 16px;
  font-family: "open sans", sans-serif;
}
.chatbox-footer a {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.chatbox-footer i {
  font-size: 16px;
  color: grey;
}

/* #endregion chat */

/* #region startmedia */

@media screen and (max-width: 1134px) {
  .header-right ul a {
    padding-right: 0px;
  }
}
@media screen and (max-width: 1030px) {
  .header-right {
    gap: 10px;
  }
}

@media screen and (max-width: 930px) {
  .header-cart {
    position: absolute;
  }
  nav {
    padding-left: 20px;
  }
}

@media screen and (max-width: 865px) {
  .burger-menu {
    width: 26px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-burger {
    width: 48px;
    height: 48px;
    border: 2px solid #ffd500;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 11;
  }
  .header-right {
    padding-right: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  nav {
    display: none;
  }
  .header-cart {
    top: 130px;
    z-index: 4;
  }
  .header-logo {
    left: 90%;
    top: 45%;
  }
}
@media screen and (max-width: 640px) {
  header {
    flex-direction: column;
  }
    .header-left {
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    padding-top: 70px;
  }
    .header-right {
    width: 100%;
    height: 50%;
    align-items: flex-start;
    justify-content: center;
  }
    .header-logo {
    position: static;
    
  }
  .header-cart {
    position: static;
  }
  .menu-burger {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    background-image: url(../images/41d000_898b811241c2fb7001c61f77a0fa10ef.avif);
    background-position: top top;
    background-repeat: no-repeat;
  }
  header {
    margin-top: 20px;
  }
    .menu-burger {
    top: 30px;
  }
  .header-borderline {
    display: none;
  }
  label {
    position: absolute;
    top: 5%;
  }
  .footer-sides {
    padding-left: 20px;
    width: 100%;
    flex-direction: column-reverse;
  }
  .footer-right {
    width: 100%;
  }
  .footer-icons {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .footer-right span {
    display: none;
  }
  .btn-chat span {
    display: flex;
    position: fixed;
    right: 5px;
    bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .chatbox {
    height: 80vh;
    width: 400px;
    top: 20px;
    right: 10px;
  }
}
@media screen and (max-width: 400px) {
  .chatbox {
    height: 80vh;
    width: 300px;
    right: 10px;
    top: 20px;
  }
}

/* #endregion media */
