#check:checked ~ nav ul li:nth-child(7) {
  background-color: #ddc000;
}


main {
  position: absolute !important;
  top: 100px;
  z-index: -1;
  height: 60vh !important;
}
section {
  width: 70%;
  /* height: 60vh; */
  background-color: black;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  color: #efefef;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  padding-left: 30px;
  padding-right: 30px;
}

.section1 {
  width: 100%;
  display: flex;
  padding-top: 40px;
}
.section-left {
  padding-top: 20px;
  margin-right: 10px;
  width: 30%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.section-left h4 {
  font-size: 32px;
  color: #efefef;
}
.section-right {
  margin-left: 10px;
  width: 70%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}
.section-right h5 {
  padding-top: 40px;
  font-size: 16px;
  font-weight: normal;
}
.right-contact1 p {
  font-size: 12px;
  font-family: "open sans", sans-serif;
  color: #efefef;
}
.right-contact2 {
    display: flex;
    gap: 30px;
}
.right-contact2 p {
  font-size: 12px;
  font-family: "open sans", sans-serif;
  color: #efefef;
}
.fullinput {
    display: flex;
    gap: 5px;
}
.input1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}
.input1 input {
    width: 100%;
    border: 1px solid white;
    background-color: transparent;
      font-family: "open sans", sans-serif;
      padding: 3px 3px 3px 12px;
}
.input2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}
.input2 input {
    width: 100%;
    border: 1px solid white;
    padding-left: 16px;
    padding-bottom: 29px;
    padding: 34px 5px;
    background-color: transparent;
          font-family: "open sans", sans-serif;
}
.input2 button {
    width: 50%;
    background-color: #ddc000;
    padding: 5px 0px;
    margin-left: auto;
     font-family: "open sans", sans-serif;
     margin-top: auto;
}

.section2 {
  width: 100%;
  display: flex;
}
.section2-left {
  width: 30%;
  margin-right: 10px;
}
.section2-left h5 {
  font-size: 22px;
  color: #efefef;
}
.section2-right {
  width: 70%;
  margin-left: 10px;
}
.section2-right iframe {
  width: 100%;
  height: 100%;
}
footer {
  padding-top: 30px;
}


@media screen and (max-width:768px) {
  section {
    width: 97%;
    margin-right: 0%;
  }
  .section1 {
    flex-direction: column;
  }
  .section-left {
    width: 100%;
  }
  .section-right {
    width: 100%;
    border: none;

  }
  .section2 {
    flex-direction: column;
  }
  .section2-left {
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
      border-top: 1px solid gray;
  }
  .section2-right {
    width: 100%;

  }
    }
  .section2-right iframe {
  height: auto;
}


  
@media screen and (max-width:460px) {
  section {
    padding-left: 10px;
    padding-right: 20px;
  }
  .fullinput {
  flex-direction: column;
}
.input1 {
  width: 100%;
}
.input2 {
  width: 100%;
}
.input2 button {
  width: 100%;
}
}