@font-face {
    font-family: kellyslab;
    src: url(../fonts/KellySlab-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: opensans;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

$main-color: #ffffff;
$secondary-color: grey;
$size: 16px;


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: $main-color;
  font-family: kellyslabs, fantasy;
}


a:visited {
  color: $secondary-color;
}
main {
  width: 100%;
  height: 100vh;
  background-image: url(../images/41d000_898b811241c2fb7001c61f77a0fa10ef.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  width: 50%;
  height: 35vh;
  background-color: black;
  position: absolute;
  right: 25%;
  top: 31%;
  .section1 {
    padding: 15px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .section1 p {
    font-size: 20px;
    color: $main-color;
    font-family: kellyslab, fantasy;
    font-weight: normal;
  }
  .section1 a {
    font-size: $size;
  }
  .section2 {
    width: 100%;
    display: flex;
    padding: 15px 15px;
  }
  .btn-1 button {
    border: 1px solid $secondary-color;
    width: 100%;
    height: 100%;
    font-size: $size;
    background-color: transparent;
    color: $main-color;
    font-family: opensans, sans-serif;
    cursor: pointer;
    &:hover {
        border: 1px solid #ffffff;
    }
  }
  .btn-2 button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: $main-color;
    font-size: $size;
    font-family: opensans, sans-serif;
    border: 1px solid #ddc000;
    background-color: #ddc0001e;
    cursor: pointer;
  }
  .section3 {
    padding: 15px 15px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid gray;
    input {
        width:100%;
        height: 45px;
        border: 1px solid $secondary-color;
        background-color: transparent;
        padding: 5px 15px;
        font-family: opensans,sans-serif ;
        &:hover {
            border: 1px solid #ffffff;
        }
    }
    label {
        font-size: 14px;
        padding-bottom: 10px;
        font-family: opensans, sans-serif;
    }
  }
  .section4 {
    width: 100%;
    padding: 15px 15px;
    display: flex;
    justify-content: flex-end;
    button {
        height: 5vh;
        width: 20%;
        background-color: gray;
        color: $main-color;
        font-size: $size;
        font-family: opensans,sans-serif;
    }
  }
  .scroll-section {
    height: 25vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
}
.btn-1 {
    width: 50%;
    height: 5vh;
}
.btn-2 {
    width: 50%;
    height: 5vh;
}
