:root {
    --main-color : #efefef;
}
#check:checked ~ nav ul li .drop-down {
    background-color: #dcc000 !important;
}
#check:checked ~ nav ul li #active {
  color: black !important;
}
a:visited {
    color: var(--main-color);
}
a {
    color: var(--main-color);
}


main{
  position: absolute !important;
  top: 100px;
  z-index: -1;

  height: 85vh !important;

}
section {
  width: 80%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding-left: 30px;
  padding-right: 30px;
}
/* #region start section1 */
.section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #dcc000;
}
.section1 h5 {
    color: var(--main-color);
    font-size: 32px;
}
.section1 p {
    color: var(--main-color);
    font-size: 16px;
    max-width: 700px;
}

/* #endregion section1 */

/* #region start section2 */
.section2 {
    width: 100%;
    display: flex;
}
.section-left {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 50px;
    width: 50%;
    border: 1px solid #dcc000;
    border-left: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-header1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.left-header2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-left h4 {
    font-size: 22px;
    color: #efefef;
    font-weight: normal;
}
.section-left h5 {
    font-size: 16px;
    color: #efefef;
    font-size: "kelly slabs";
}
.section-left p {
    font-size: 13px;
      font-family: "open sans", sans-serif;
      color: #efefef;
}
.section-left p:nth-child(1) {
    max-width: 400px;
}
.section-right {
    padding-left: 30px;
    padding-top: 30px;
    width: 50%;
    border: 1px solid #dcc000;
    border-right: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right-header1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.right-header2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section-right h4 {
    font-size: 22px;
    color: #efefef;
    font-weight: normal;
}
.section-right h5 {
        font-size: 16px;
    color: #efefef;
    font-size: "kelly slabs";

}
.section-right p {
        font-size: 13px;
      font-family: "open sans", sans-serif;
      color: #efefef
}
.line1 {
    width: 50%;
    border: 1px dashed gray;
}
.line2 {
    width: 100%;
    border: 1px dashed gray;
}
.line3 {
    width: 45%;
    border: 1px dashed gray;
}
.line4 {
    width: 100%;
    border: 1px dashed gray;
}

/* #endregion section2 */

/* #region start section3 and 4  */

.section3 {
    display: flex;
}
.section4 {
    display: flex;
    padding-bottom: 10px;
}
footer {
    padding-top: 5px;
}
/* #endregion section3 and 4 */

/* #region start media */

@media screen and (max-width:780px) {
    section {
        margin-top: 1%;
    }
    .section1 {
        padding-top: 15px;
    }

     
}

@media screen and (max-width:600px) {
    section {
        width: 95%;
        padding-right: 10px;
        margin-right: 0;
    }
    .section1, .section2, .section3, .section4 {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .section1 {
        text-align: center;
        padding-bottom: 15px;
    }
    .section-left {
        border: none;
        padding-right: 0px;
        width: 100%;
        padding-bottom: 5px;
    }
    .section-right {
        width: 100%;
        border-top: none;
        border-left: none;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .line1 {
        width: 100%;
    }
    .line3 {
        width: 100%;
    }
    .line2 {
        width: 100%;
    }
}

/* #endregion media */