
#check:checked ~ nav ul li:nth-child(3) {
  background-color: #ddc000;
}

main{
  position: absolute !important;
  top: 100px;
  z-index: -1;

  height: 85vh !important;

}
body {
    min-height: 780px;
    max-height: 780px;
}


/* #region start section */
section {
  width: 70%;
  background-color: black;
      margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  color: #efefef;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  padding-left: 30px;
  padding-right: 30px;
}
.menu-box1 {
    width: 100%;
    display: flex;
    flex-direction: column  ;
}
.menu-header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding-top: 30px;
}
.menu-header h4 {
    font-weight: 500;
}
.menu-header2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 5px;
    padding-top: 70px;
}
.menu-header2 h4 {
    font-size: 24px;
    color: #ddc000;
    font-weight: 200;
}
.menu-header2 p {
    font-size: 13px;
    font-family: "open sans",sans-serif;
    padding-bottom: 30px;
}
.menu-box2 {
    width: 100%;
    display: flex;
    border: 1px solid white;
    border-left: none;
    border-right: none;

}
.menu-box3 {
    width: 100%;
    display: flex;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    border-top: none;

}
.menu-box4 {
    width: 100%;
    display: flex;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    border-top: none;

}
.menu-box5 {
    width: 100%;
    display: flex;
}
.menu-left {
    width: 70%;
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    gap: 10px;
}
.menu-left h5 {
    padding-top: 30px;
    font-size: 16px;
    font-family: "open sans",sans-serif;
}
.menu-left p {
    font-size: 14px;
     font-family: "open sans",sans-serif;
}
.menu-right {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.menu-right p {
    padding-top: 30px;
        font-size: 16px;
    font-family: "open sans",sans-serif;

}
.menu-right img {
    width: 135px;
    height: 135px;
}
/* #endregion section */

/* #region start media */
@media screen and (max-width:800px) {
.menu-box2,.menu-box3,.menu-box4,.menu-box5 {
        flex-direction: column-reverse;
        position: relative;
        border: none;
        padding-top: 20px;
    }
    section {
        padding-left: 10px;
    }
    .menu-right img {
        width: 260px;
        height: 260px;
    }
    .menu-box1 {}

    .menu-right {
        width: 100%;
        
    }
    .menu-left {
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
    }
    section {
        width: 95%;
    }

    .menu-left p {
        width: 260px;
    }
    footer {
        padding-top: 50px;
    }
            .menu-right p {
        position: absolute;
        bottom: -8%;
        left: 10px;
    }
    
}

@media screen and (max-width:800px) {


} 

@media screen and (max-width:780px) {
        section {
        width: 95%;
        margin-top: 2%;
    }
    .menu-header2 {
        padding-left: 10px;
    }
.menu-header2 p {
    width: 260px;
    padding-right: 10px;
}
}
@media screen and (max-width:640px) {
section {
    margin-top: 2%;
}

}
@media screen and (max-width:400px) {
    .menu-right p {
        bottom: -8%;
    }
    
}
/* #endregion media */