#check:checked ~ nav ul li:nth-child(4) {
  background-color: #ddc000;
}

main {
  position: absolute !important;
  top: 100px;
  z-index: -1;

  height: 85vh !important;
}

section {
  width: 70%;
  background-color: black;
  margin-top: 0.1%;
  margin-left: auto;
  margin-right: auto;
  color: #efefef;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  padding-left: 30px;
  padding-right: 30px;
}
.section1 {
  width: 100%;
  padding-top: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section1-header1 h4 {
  font-size: 48px;
  color: #ffffff;
  font-weight: normal;
}
.section1-header1 p {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.section1-header2 button {
  border-radius: 20px;
  padding: 7px 12px;
  border: 1px solid #ddc000;
  background-color: transparent;
  color: #ffffff;
  font-family: "open sans", sans-serif;
  font-size: 14px;
}
.section1-header2 button i {
  font-size: 10px;
}
.section1-header3 {
  /* width: 100%; */
  display: flex;
}
.btn-1 button {
  display: flex;
  padding: 12px 55px;
  border: 1px solid #ddc000;
  background-color: #ddc0001e;
  color: #ffffff;
  font-family: "open sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.btn-2 button {
  display: flex;
  padding: 12px 51px;
  border: 1px solid grey;
  background-color: transparent;
  color: #ffffff;
  font-family: "open sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.section1-header4 {
  display: flex;
  gap: 25px;
}
.section1-header4 p {
  color: #ffffff;
  font-family: "open sans", sans-serif;
  font-size: 16px;
}
.section1-header4 span {
  text-decoration: underline;
  color: #ddc000;
  font-family: "open sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.section1-header4 span:hover {
  text-decoration: none;
}
.section2 {
  width: 100%;
  display: flex;
  padding-left: 40px;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid grey;
}
.section2-header1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.section2-header1 h5 {
  padding-left: 10px;
  color: #ddc000;
  font-family: "open sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.line1 {
  width: 12%;
  border-top: 2px solid #ddc000;
}
.section2-header2 h5 {
  font-size: 32px;
  color: #efefef;
}
.section3 {
  padding-left: 40px;
  padding-bottom: 60px;
  width: 100%;
}
.section3-header1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
}
.section3-header1 h5 {
  font-size: 28px;
  color: #ffffff;
  font-weight: normal;
}
.section3-header1 p {
  font-size: 16px;
  color: #ffffff;
  font-family: "open sans", sans-serif;
}
.section3-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section3-cards1 {
  display: flex;
  gap: 30px;
}
.section3-cards2 {
  display: flex;
  gap: 30px;
}
.card1 {
  width: 50%;
  border: 1px solid gray;
  display: flex;
  background-color: rgb(241, 255, 120, 0.1);
}
.card2 {
  width: 50%;
  border: 1px solid gray;
  display: flex;
  background-color: rgb(241, 255, 120, 0.1);
}
.card1 span:nth-child(1) {
  display: none;
  font-size: 14px;
  color: #ffffff;
  font-family: "open sans", sans-serif;
}
.card2 span:nth-child(1) {
  display: none;
  font-size: 14px;
  color: #ffffff;
  font-family: "open sans", sans-serif;
}
.card1 span:nth-child(2) {
  font-size: 14px;
  color: #ffffff;
  font-family: "open sans", sans-serif;
}
.card2 span:nth-child(2) {
  font-size: 14px;
  color: #ffffff;
  font-family: "open sans", sans-serif;
}
.card-left {
  width: 40%;
}
.card-left img {
  width: 100%;
  height: auto;
  padding: 10px;
}
.card-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-right h5 {
  font-size: 22px;
  color: #ffffff;
  padding-top: 10px;
  font-weight: normal;
}
.card-right p {
  font-size: 14px;
  color: #ffffff;
  font-family: "open sans", sans-serif;
}
.card-right p:nth-child(3) {
  margin-top: auto;
  padding-bottom: 20px;
  font-size: 16px;
  color: #ffffff;
  font-family: "open sans", sans-serif;
}
.card1:hover {
  transform: scale(1.05);
  transition: 0.4s;
}
.card2:hover {
  transform: scale(1.05);
  transition: 0.4s;
}
@media screen and (max-width: 1070px) {
    .card-right h5  {
    font-size: 20px;
  }

}
@media screen and (max-width: 970px) {
    .card-right h5  {
    font-size: 16px;
  }

}

@media screen and (max-width: 860px) {
  section {
    width: 95%;
  }
}
@media screen and (max-width: 640px) {
  .section3-cards1 {
    flex-direction: column;
  }
  .section3-cards2 {
    flex-direction: column;
  }
  .card1 {
    width: 100%;
  }
  .card2 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  section {
    padding-left: 20px;
    width: 100%;
  }
  .section1 {
    padding-left: 0px;
  }
  .section2 {
    padding-left: 0px;
  }
  .section3 {
    padding-left: 0px;
  }
  .section1-header1 h4 {
  font-size: 28px;
}
.section1-header1 p {
  font-size: 14px;
}
  .section2-header1 h5 {
    padding-left: 40px;
  }
  .card1 span {
    display: none;
  }
  .card2 span {
    display: none;
  }
  .card-right h5  {
    font-size: 16px;
  }
  .btn-1 button {
    padding: 12px 31px;

  }
  .btn-2 button {
    padding: 12px 27px;

  }
}
  @media screen and (max-width: 350px) {
      .btn-1 button {
    padding: 12px 25px;

  }
  .btn-2 button {
    padding: 12px 21px;

  }
  }
