#check:checked ~ nav ul li:nth-child(4) {
  background-color: #ddc000;
}

main {
  position: absolute !important;
  top: 100px;
  z-index: -1;

  height: 85vh !important;
}

section {
  width: 70%;
  height: 100vh;
  background-color: black;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  color: #efefef;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  padding-left: 30px;
  padding-right: 30px;
}
.section1 {
  width: 100%;
  height: 35vh;
  padding-top: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section1-header1 h4 {
  font-size: 48px;
  color: #ffffff;
  font-weight: normal;
}
.section1-header1 p {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.section1-header2 button {
  border-radius: 20px;
  padding: 7px 12px;
  border: 1px solid #ddc000;
  background-color: transparent;
  color: #ffffff;
  font-family: "open sans", sans-serif;
  font-size: 14px;
}
.section1-header2 button i {
    font-size: 10px;
}
.section1-header3 {
    display: flex;
}
.btn-1 button {
  padding: 12px 55px;
  border: 1px solid #ddc000;
  background-color: #ddc0001e;
  color: #ffffff;
  font-family: "open sans", sans-serif;
  font-size: 16px;
}
.btn-2 button {
  padding: 12px 51px;
  border: 1px solid grey;
  background-color: transparent;
  color: #ffffff;
  font-family: "open sans", sans-serif;
  font-size: 16px;
}
.section1-header4 {
    display: flex;
    gap: 25px;
}
.section1-header4 p {
      color: #ffffff;
  font-family: "open sans", sans-serif;
  font-size: 16px;

}
.section1-header4 span {
    text-decoration: underline;
    color: #ddc000;
      font-family: "open sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.section1-header4 span:hover {
    text-decoration: none;
}
.section2 {
    width: 100%;
    height: 15vh;
    display: flex;
    padding-left: 40px;
    flex-direction: column;
    gap: 30px;
    border-bottom: 1px solid grey;
}
.section2-header1 {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.section2-header1 h5 {
    padding-left: 10px;
          color: #ffffff;
  font-family: "open sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding-top: 20px;
}
.line1 {
    width: 12%;
    border-top: 2px solid #ddc000;
}
.section2-header2 h5 {
    font-size: 32px;
    color: #efefef;
}