#active {
  color: #dddc33 !important;
}

#check:checked ~ nav ul li:nth-child(5) {
  background-color: #ddc000;
}


body {
    min-height: 780px;
    max-height: 780px;
}

main {
  position: absolute !important;
  top: 100px;
  z-index: -1;
  height: 90vh !important;
}

section {
  width: 80%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding-left: 30px;
  padding-right: 30px;
}

/* #region start section1 */

.section1 {
  width: 100%;
  display: flex;
  border-bottom: 1px solid gray;
}
.section1-left {
  width: 30%;
  background-image: url(../images/OURSTORY\ IMG1.avif);
  background-position: center;
  background-repeat: no-repeat;
}

.section1-right {
  width: 70%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section1-right-header h4 {
  font-family: "kelly slab", fantasy;
  font-size: 32px;
  color: #efefef;
  padding-bottom: 10px;
  font-weight: normal;
}

.section1-right-header {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
}

.line1 {
  width: 70%;
  border: 1px dashed white;
}

.section1-right-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.section1-right-content p {
  font-size: 13px;
  color: #efefef;
  font-family: "open sans", sans-serif;
}

.section1-right-content p:nth-child(1) {
  max-width: 625px;
  min-width: 150px;
}

.section1-right-content p:nth-child(2) {
  max-width: 625px;
  min-width: 150px;
}

.section1-right-content p:nth-child(3) {
  max-width: 625px;
  min-width: 150px;
}

/* #endregion section1 */

/* #region start section2 */

.section2 {
  width: 100%;
  display: flex;
}
.section2-left {
  width: 30%;
  background-image: url(../images/OURSTORY\ IMG2.avif);
  background-position: center;
  background-repeat: no-repeat;
}

.section2-right {
  width: 70%;
  display: flex;
  padding-bottom: 100px;
  flex-direction: column;
  justify-content: center;
}

.section2-right-header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.section2-right-header h4 {
  font-family: "kelly slab", fantasy;
  font-size: 32px;
  color: #efefef;
  padding-bottom: 10px;
  font-weight: normal;
}

.section2-right-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 20px;
}

.section2-right-content p {
  font-size: 13px;
  color: #efefef;
  font-family: "open sans", sans-serif;
}

.section2-right-content p:nth-child(1) {
  max-width: 625px;
  min-width: 150px;
}

.section2-right-content p:nth-child(2) {
  max-width: 625px;
  min-width: 150px;
}

.section2-right-content p:nth-child(3) {
  max-width: 625px;
  min-width: 150px;
}

/* #endregion section2 */

/* #region start media */
@media screen and (max-width:780px) {
    section {
    width: 95%;
    margin-right: 0%;
    margin-top: 2%;
    }
}
@media screen and (max-width: 640px) {
.section1-right {
  padding-bottom: 30px;
}
.section2-right {
  padding-bottom: 30px;
}
.section1-right-content p {
  font-size: 14px;
}
.section2-right-content p {
  font-size: 14px;
}

  main {
    height: 110vh !important;
  }
  section {
    width: 95%;
    margin-right: 0%;
    margin-top: 2%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 640px) {
  .section1,
  .section2 {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .section1-left,
  .section2-left {
    width: 100%;
    min-height: 300px;
    min-width: 200px;
    height: 400px;
    background-position: center;
  }
  .line1 {
    width: 100%;
  }
  .section1-right,
  .section2-right {
    width: 100%;
  }

}
@media screen and (max-width: 480px) {
  section {
    width: 98%;
    margin-right: 0%;
  }
}
@media screen and (max-width: 440px) {
  .section1-left,
  .section2-left {
    background-size: cover;
  }
  .section1-right-header,
  .section2-right-header {
    padding-left: 0px;
  }
  .section1-right-content,
  .section2-right-content {
    padding-left: 0px;
  }
  
}
/* #endregion media */
