
#active {
  color: #ddc000; 
}
/* #region startmain */
main {
    width: 100%;
    height: 70vh;
    background-image: url(../images/41d000_898b811241c2fb7001c61f77a0fa10ef.avif);
    background-position: center -185px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 20px;
    position: relative;
}
/* #endregion main */




/* #region startsection */
section {
  width: 100%;
  height: 40vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  z-index: 1;
  top: 74%;
}
.cards {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: #efefef;
  gap: 10px;
  flex-wrap: wrap;
}
.card1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 17%;
  height: 27vh;
}
.card2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 17%;
  height: 27vh;
}
.card3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 17%;
  height: 27vh;
}
.card4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 17%;
  height: 27vh;
}
.card1-button {
  margin-top: auto;
}
.card2-button {
  margin-top: auto;
}
.card3-button {
  margin-top: auto;
}
.card4-button {
  margin-top: auto;
}
.card1-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card2-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card3-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card4-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card1-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card2-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card3-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card4-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card1-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
  
}
.card2-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
}
.card3-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
}
.card4-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
}
.card1 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card2 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card3 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card4 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card1 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 100%;
}
.card2 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 100%;
}
.card3 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 100%;
}
.card4 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 100%;
}
.sectionline {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.cards-borderline {
  width: 70%;
  height: 1px;
  background-color: white;
}
/* #endregion section */



