
body {
    min-height: 780px;
    max-height: 780px;
}




/* #region startsection */





section {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;

}
.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: #efefef;
  gap: 10px;
  flex-wrap: wrap;
}
.card1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 17%;
}
.card2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 17%;
}
.card3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 17%;
}
.card4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 17%;
}
.card1-button {
  margin-top: auto;
  padding-bottom: 15px;
}
.card2-button {
  margin-top: auto;
  padding-bottom: 15px;
}
.card3-button {
  margin-top: auto;
    padding-bottom: 15px;
}
.card4-button {
  margin-top: auto;
    padding-bottom: 15px;
}
.card1-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card2-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card3-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card4-button button {
  background-color: transparent;
  color: #ddc000;
  border: none;
  font-size: 12px;
  font-family: "open sans", sans-serif;
  cursor: pointer;
}
.card1-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card2-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card3-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card4-button button:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.card1-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
  
}
.card2-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
}
.card3-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
}
.card4-line {
  width: 100%;
  height: 1px;
  border-top: dashed white;
}
.card1 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card2 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card3 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card4 h4 {
  font-size: 16px;
  font-weight: 100;
}
.card1 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 100%;
}
.card2 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 100%;
}
.card3 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 100%;
}
.card4 p {
  font-size: 13px;
  font-family: "open sans", sans-serif;
  max-width: 100%;
}
.sectionline {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.cards-borderline {
  width: 70%;
  height: 1px;
  background-color: white;
}


#check:checked ~ nav ul li:nth-child(1) {
  background-color: #ddc000;
}

/* #endregion section */

/* #region starmedia */

@media screen and (max-width:745px) {
  .cards {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    height: auto;

  }
  .card1 {
    width: 50%;
    height: auto;
  }
  .card2 {
    width: 50%;
    height: auto;
  }
  .card3 {
    width: 50%;
    height: auto;
  }
  .card4 {
    display: none;
  }
  
}
@media screen and (max-width:900px) {
  .footer-right button {
    display: none;
  }
  
}
@media screen and (max-width:1270px) {
  main {
    background-position: center center;
  }
}
@media screen and  (max-width:480px) {
  .card1 {
    width: 90%;
  }
  .card2 {
    width: 90%;

  }
  .card3 {
    width: 90%;
  }
  .cards-borderline {
    width: 90%;
  }

}

/* #endregion media */


